.container {
  padding: 10px;
  width: 100%;

  &:after,
  &:before {
    display: none;
  }
}

.main-title {
  display: flex;
  justify-content: space-between;

  .glyphicon {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
  }
}
