$black: #000;
$white: #f9f9f9;

$background: lighten($black, 20);
$background-light: lighten($background, 30);
$background-lightest: lighten($background-light, 47);

$border: $background;

$text-light: $white;
$text: $black;
