.dropdown {
  position: relative;

  &:hover,
  &:focus,
  &:active {
    outline: none;

    .dropdown-toggle {
      background-color: $background-light;
      color: $text-light;
    }
  }

  &:focus,
  &:active {
    .dropdown-items {
      display: block;
    }

    .dropdown-overlay {
      display: block;
    }
  }

  .dropdown-toggle {
    color: $text-light;
    padding: 6px;
    display: block;
  }

  .dropdown-items {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
    border: 1px solid $background;
    background-color: $background-lightest;
    width: 110px;

    li {
      padding: 5px;
      border-bottom: 1px solid $background;

      &:last-child {
        border: none;
      }
    }
  }

  .dropdown-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
