.top-bar {
  background: $background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .brand {
    color: $primary-color-background;
    font-size: 18px;
    text-decoration: none;
    padding: 6px 0;
  }
}
